vendor
composer.lock
wp
wp-config.php
.htaccess

/public/content/*
!/public/content/

/public/content/themes/*
!/public/content/themes/
!/public/content/themes/aurelia-champseix

/public/content/plugins/*
!/public/content/plugins/
!/public/content/plugins/aurelia-champseix




