vendor
composer.lock
wp
wp-config.php
.htaccess

content/*
!content/

content/themes/*
!/content/themes/
!/content/themes/aurelia-champseix

content/plugins/*
!/content/plugins/
!/content/plugins/aurelia-champseix




