@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}
.logo-name {
    font-family: 'Bonheur Royale', cursive;
}
p {
    line-height: 1.5;
}
:root {
    --main-green: #3EE8CA;
    --secondary-green: #3EE1E8;
    --light-grey: #F8F8F8;
    --doctolib-blue: #4097E1;

    --breakpoint-small: 576px;
    --breakpoint-medium: 768px;
    --breakpoint-large: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    --container-small: 540px;
    --container-medium: 720px;
    --container-large: 960px;
    --container-xl: 1140px;
    --container-xxl: 1320px;

    --halfhauteur-header: 40px;
    --hauteur-header: 80px;
    --2hauteur-header: 160px;

  }
.main-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.padding-header {
    padding-top: var(--hauteur-header);
}
@media screen and (min-width: 576px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
        width: var(--container-small);
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .main-container {
        width: var(--container-medium);
    }
}
@media screen and (min-width: 992px) {
    .main-container {
        width: var(--container-large);
    }
}
@media screen and (min-width: 1200px) {
    .main-container {
        width: var(--container-xl);
    }
}
@media screen and (min-width: 1400px) {
    .main-container {
        width: var(--container-xxl);
    }
}