@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');
body {
    font-family: 'Raleway', sans-serif;
}
.logo-name {
    font-family: 'Bonheur Royale', cursive;
}
#main-header {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 2em 1em;
}
#menu-menu-principal {
    display: flex;
    justify-content: flex-end;
}
#menu-menu-principal li {
    padding-left: 2em;
}
a[aria-current="page"],
.current_page_ancestor {
    font-weight: 700;
}
