#main-header {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 2em 1em;
}
#menu-menu-principal {
    display: flex;
    justify-content: flex-end;
}
#menu-menu-principal li {
    padding-left: 2em;
}